In [4]:
tu = (23, 'abc', 4.56, (2, 3), 'def')
tu[1]

'abc'

In [6]:
li = ["abc", 34, 4.34, 23]
li[1]

34

In [7]:
st = "hello world"
st[1]

'e'

In [8]:
t = (23, 'abc' , 4.56, (2,3), 'def')
t[1]

'abc'

In [9]:
t[-3]

4.56

In [10]:
st = "Hello World"
st = 'Hello World'
st = """This is a multi-line
string that uses triple quotes."""

In [11]:
t[1:4]

('abc', 4.56, (2, 3))

In [12]:
t[1:-1]

('abc', 4.56, (2, 3))

In [14]:
t[1:-1:2]

('abc', (2, 3))

In [15]:
t[:2]

(23, 'abc')

In [16]:
t[2:]

(4.56, (2, 3), 'def')

In [17]:
t[:]

(23, 'abc', 4.56, (2, 3), 'def')

In [18]:
t = [1,2,4,5]
3 in t

False

In [19]:
4 in t

True